/* Add a background color to the header element */
header{
    background-color: aqua;
}
/* Add a fun background color to the main element */
main{
    background-color: yellow;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color: red;
    font-style: italic;
}
/* Put a border around your image */
img{
    border: 1px;
    border-color: green
    
    
}
/* Change the font-family of your list */
ul{
    font-family: 'Times New Roman', Times, serif;
}
/* Add a background color to the footer element */
footer{
    background-color: blueviolet;
}